{% paginate collection.products by 24 %}
  <header role="banner" class="collection-header">
    {% if collection.image %}
    <div class="collection-image">
      <img src="{{ collection.image | img_url: "1024x1024" }}" 
           srcset="{{ collection.image.src | img_url: '2048x2048'}} 2048w,
                   {{ collection.image.src | img_url: '1024x1024'}} 1024w,
                   {{ collection.image.src | img_url: '600x600'}} 600w,
                   {{ collection.image.src | img_url: '480x480'}} 480w,
                   {{ collection.image.src | img_url: '240x240'}} 480w"
           sizes="(min-width: 1124px) 60vw, 100vw"
           alt="{{ collection.image.alt }}">
    </div>
    {% endif %}
    <div class="collection-text {% if collection.image %}dark-box{% endif %}">
      <div class="text-block">
        <h1>{{ collection.title }}</h1>
        <hr>
        {% if collection.description != blank %}
          <div class="rte">
            {{ collection.description }}
          </div>
        {% endif %}
      </div>
    </div>

    {% comment %}
      {% if collection.all_tags.size > 0 %}
        <ul>
          {% for tag in collection.all_tags %}
            {% if current_tags contains tag %}
              <li class="active">
                {{ tag | link_to_remove_tag: tag }}
              </li>
            {% else %}
              <li>
                {{ tag | link_to_tag: tag }}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endcomment %}
  </header>

  {% assign products = collection.products %}
  {% include 'product-grid' %}

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
{% endpaginate %}
