<footer class="site-footer">
  <div>
    {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} {{ shop.name }}, LLC
    {%- assign footer_linklist = section.settings.footer_linklist -%}
    {% if linklists[footer_linklist].links.size > 0 %}
        {% for link in linklists[footer_linklist].links %}
         <a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
    {% endif %}
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Footer Links",
        "default": "footer"
      }
    ]
  }

{% endschema %}
