<div class="lookbook-page" data-js-next-slide>
  {% assign current_page = false %}
  {% for block in section.blocks %}
  <div {{ block.shopify_attributes }}>
    {% case block.type %}

      {% when 'lookbook-page' %}

        {% if block.settings.page == page.handle %}
        
          {% assign current_page = true %}

        {% else %}

          {% assign current_page = false %}

        {% endif %}


      {% when 'lookbook-image' %}

        {% if current_page == true %}
          {% if block.settings.image %}
          <div class="lookbook-slide" data-js-lookbook-slide>
            <div class="lookbook-image">
              <img 
                data-js-lookbook-image
                data-src="{{ block.settings.image | img_url: '1024x1024' }}"
                data-srcset="{{ block.settings.image | img_url: '2048x2048'}} 2048w,
                {{ block.settings.image | img_url: '1024x1024'}} 1024w,
                {{ block.settings.image | img_url: '600x600'}} 600w,
                {{ block.settings.image | img_url: '480x480'}} 480w"
                onload="if(this.height >= this.width){this.classList.add('vertical');}"
              >
            </div>
            
            {% endif %}

            {% if block.settings.caption %}
              <div class="lookbook-caption">
                {{ block.settings.caption }}

                {% if block.settings.collection %}
                  {%- assign collection = collections[block.settings.collection] -%}

                  <a href="{{ collection.url }}">{{ collection.title }}</a>
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% endif %}
      
    {% endcase %}
  </div>
  {% endfor %}
</div>

{% schema %}
  {
    "blocks": [
      {
        "type": "lookbook-image",
        "name": "Lookbook Image",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "caption",
            "type": "richtext",
            "label": "Caption"
          },
          {
            "id": "product1",
            "type": "product",
            "label": "Featured Product 1"
          },
          {
            "id": "product2",
            "type": "product",
            "label": "Featured Product 2"
          },
          {
            "id": "product3",
            "type": "product",
            "label": "Featured Product 3"
          },
          {
            "id": "product4",
            "type": "product",
            "label": "Featured Product 4"
          },
          {
            "id": "product5",
            "type": "product",
            "label": "Featured Product 5"
          }
        ]
      },
      {
        "type": "lookbook-page",
        "name": "Lookbook Page",
        "settings": [
          {
            "id": "page",
            "type": "page",
            "label": "Page",
            "info": "All images under this block will appear on the selected page."
          }
        ]
      }
    ]
  }
{% endschema %}