<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>Jenny Lauren Jewelry – Coming Soon</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  <!-- {{ 'theme.scss.css' | asset_url | stylesheet_tag }} -->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}

  <style>
    * {
      box-sizing: border-box;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    html, body {
      background: black;
      font-family: sans-serif;
      margin: 0;
    }
    .main {
      position: relative;
    }
    img {
      display: block;
    }
    .errors {
      display: none;
    }
    .submit {
      position: absolute;
      right: 0;
      width: 120px;
      top: 0;
      margin: 5px;
      text-align: center;
      bottom: 0;
      border-radius: 0;
      border: 0;
      background: black;
      color: white;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 0.2em;
      -webkit-appearance: none;
      display: block;
      font-family: sans-serif;
    }
    .type {
      position: absolute;
      top: 6%;
      left: 6%;
      width: 37%;
    }
    .caption {
      position: absolute;
      bottom: 2%;
      right: 2%;
      font-size: 11px;
      color: #a4886a;
    }
    .login-form {
      position: absolute;
      bottom: 15%;
      left: 6%;
      width: 37%;
    }
    .login-form-inner {
      position: relative;
      max-width: 480px;
      margin: 0 auto;
    }
    .input-email, .form-success {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 17px;
      background: rgba(255,255,255,0.8);
      border: 0;
      font-family: 'Open Sans Condensed', sans-serif;
      border: 1px solid transparent;
      transition: 0.3s all;
      color: #98754f;
      border-radius: 0;
    }
    .input-email::placeholder {
      color: #98754f;
    }
    .input-email:focus::placeholder {
      opacity: 0;
    }
    .input-email:focus {
      background: rgba(255,255,255,1);
      outline: none;
    }
    .login-form-hidden {
      display: none;
    }
    .type.small {
      display: none;
    }

    @media screen and (max-width: 1023px) {
      .type.big {
        display: none;
      }

      .type.small {
        display: block;
      }

      .type {
        position: static;
        max-width: 620px;
        margin: 30px auto;
        width: 90%;
      }

      .login-form {
        position: relative;
        width: 90%;
        max-width: 620px;
        margin: 0 auto;
        bottom: auto;
        left: auto;
        margin-bottom: 75px;
      }

      .input-email {
        background: #ede3d5;
      }

      .caption {
        position: relative;
        float: right;
        margin-top: -20px;
        padding: 0 16px;
        text-align: right;
        font-size: 8px;
      }
    }

    @media screen and (max-width: 500px) {
      .login-form {
        width: 97%;
      }
      .type {
        margin: 20px auto;
      }
      .input-email {
        font-size: 16px;
      }
      .submit {
        font-size: 9px;
        width: 80px;
      }
      .caption {
        font-size: 6px;
        margin-top: -12px;
        padding: 0 5px;
      }
    }

    @media screen and (max-width: 336px) {
      .submit {
        display: block;
        position: static;
        width: 100%;
        height: 50px;
      }
      .input-email {
        text-align: center;
      }
    }
  </style>
</head>

<body class="template-password">

  <div style="position: absolute; height: 20px; width: 20px; top: 0; right: 0; z-index: 10"
       onclick="document.querySelector('#Login').classList.toggle('login-form-hidden');">

  </div>

  <div role="main" id="MainContent" class="main">
    <img src="{{'coming-soon-placeholder.jpg' | asset_url}}" alt="">
    <p class="caption"><i>"Nikki and Chloe."</i> Photographed by Carter Berg, Styled by Kasia Berg | Copyright ©2017 Jenny Lauren Jewelry LLC</p>
    <img src="{{'coming-soon-type.png' | asset_url}}" class="type big">
    <img src="{{'coming-soon-type-tan.png' | asset_url}}" class="type small">
    <div class="login-form">
      <div class="login-form-inner">
        {{ content_for_layout }}
      </div>
    </div>
  </div>

  <div id="Login" class="login-form-hidden">
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <input type="password"
        name="password"
        id="Password"
        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
        class="input-email input-password">
    {% endform %}
  </div>
</body>
</html>
